<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.i7baozh.cloud.provider.dao.DeptMapper">
    <select id="findById" resultType="cn.i7baozh.cloud.api.bean.DeptBean">
        select * from dept where id = #{id}
    </select>
    <update id="updateById"  >
        update dept set dept_name = #{name} where id = #{id}
    </update>
    <delete id="deleteById">
        delete from dept where id = #{id}
    </delete>
</mapper>